/* html {
    text-align: center;          Centers all elements in middle of browser */
}
h1 {
    color: black;
    font-size: 8px;            /* Change size of h1 to 10 */
    font-weight: normal;        /* Removed bold from h1 */
    text-align: justify;        /* Re-aligned h1 to left side */
}
a {
    color: black;             /* Change hyperlink text to black*/
    text-decoration: none;      /* Remove Underline */
    margin-right: 15px;         /* Added margin between links in header */
}
ul {
    display: inline;
    margin: 0px;
    text-align: left;
    font-size: 12px;
}
li {
    display: inline;
    margin: 0px;
    padding: 0px;
    }
#leftheader {
    text-align: left;
    float: left;
    padding-left: 5px
}
.googleapp {
    /* position: absolute; */
    float: right;
    margin-top: 0px;
}
#rightheader {
    margin-top: 0px;
    float: right;
    /*padding-right: 30px; */
}
/*.Images {
    margin-right: 0px;
} */
h3 {
    padding-top: 150px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    
}
body {
    text-align: center;
}
textarea {
    color: gray;
    resize: none;
    text-align: justify;
}
textarea {
    box-shadow: 0 5px 10px rgba(190, 190, 190, 0.61);
    border-radius: 100px;
    outline: none;
    text-indent: 10px;
    height: 30px;
    margin-bottom: 5px;
    border-color: lightgray;
}
.customize {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    right: 0;
    margin-right: 20px;
    box-shadow: 0 5px 10px rgba(190, 190, 190, 0.61);
    border-radius: 100px;
    height: 30px;
    
}