/* html {
    text-align: center;          Centers all elements in middle of browser */
}
h1 {
    color: black;
    font-size: 8px;            /* Change size of h1 to 10 */
    font-weight: normal;        /* Removed bold from h1 */
    text-align: justify;        /* Re-aligned h1 to left side */
}
a {
    color: black;             /* Change hyperlink text to black*/
    text-decoration: none;      /* Remove Underline */
    margin-right: 15px;         /* Added margin between links in header */
}
ul {
    display: inline;
    margin: 0px;
    text-align: left;
    font-size: 12px;
}
li {
    display: inline;
    margin: 0px;
    padding: 0px;
    }
#leftheader {
    text-align: left;
    float: left;
    padding-left: 5px
}
#rightheader {
    text-align: right;
    float: right;
}
.nineboxes {
    border-width: 0px;;
    background-color: white;
    display: block;
}
.Images {
    margin-right: 0px;
}
h3 {
    padding-top: 150px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    
}
body {
    text-align: center;
}
textarea {
    color: gray;
    resize: none;
    text-align: justify;
}
textarea:hover {
    box-shadow: 0 2px 5px rgba(190, 190, 190, 0.61);
}